global
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    mode http
    timeout client 10s
    timeout server 3s
    timeout connect 5s

frontend http
    bind 10.6.66.60:80
    bind 10.6.66.60:443 ssl crt /certs/cloudflare alpn h2
    bind 172.20.200.60:80
    bind 172.20.200.60:443 ssl crt /certs/letsencrypt alpn h2
    http-request redirect scheme https unless { ssl_fc }
    default_backend 404

    acl pve hrd(host) -i pve.silvera.win
    acl alpha hrd(host) -i alpha.silvera.win
    acl bravo hrd(host) -i bravo.silvera.win
    acl charlie hrd(host) -i charlie.silvera.win
    acl portainer_proxy hrd(host) -i proxy.silvera.win
    acl portainer_error hrd(host) -i error.silvera.win
    acl home_assistant hrd(host) -i haos.silvera.win
    acl gitlab hrd(host) -i gitlab.silvera.win

    #http_request deny if path_beg /admin/

    use_backend pve if pve
    use_backend alpha if alpha
    use_backend bravo if bravo
    use_backend charlie if charlie
    use_backend portainer_proxy if portainer_proxy
    use_backend portainer_error if portainer_error
    use_backend home_assistant if home_assistant
    use_backend gitlab if gitlab


backend portainer_proxy
	server portainerProxy 172.20.200.1:9443

backend portainer_error
	server portainerError 10.40.4.1:9443

backend pve
	balance roundrobin
	server pvealpha 172.20.100.1:8006
	server pvebravo 172.20.100.2:8006
	server pvecharlie 172.20.100.3:8006

backend alpha
    server alpha 172.20.100.1:8006

backend bravo
    server bravo 172.20.100.2:8006

backend charlie
    server charlie 172.20.100.3:8006

backend home_assistant
    server homeassistant 172.20.40.3:8123

backend gitlab
    server gitlab 172.20.40.36:443

backend 404
	balance roundrobin
	server appdown1 10.40.4.1:38635
	server appdown2 10.40.4.2:38635
	server appdown3 10.40.4.3:38635
	server connection1 10.40.4.1:45024
	server connection2 10.40.4.2:45024
	server connection3 10.40.4.3:45024
	server ghost1 10.40.4.1:61396
	server ghost2 10.40.4.2:61396
	server ghost3 10.40.4.3:61396
	server hackerterminal1 10.40.4.1:20664
	server hackerterminal2 10.40.4.2:20664
	server hackerterminal3 10.40.4.3:20664
	server layerseven1 10.40.4.1:53516
	server layerseven2 10.40.4.2:53516
	server layerseven3 10.40.4.3:53516
	server lostinspace1 10.40.4.1:11723
	server lostinspace2 10.40.4.2:11723
	server lostinspace3 10.40.4.3:11723
	server orient1 10.40.4.1:29826
	server orient2 10.40.4.2:29826
	server orient3 10.40.4.3:29826
	server shuffle1 10.40.4.1:58553
	server shuffle2 10.40.4.2:58553
	server shuffle3 10.40.4.3:58553
